{% load static %}
<div class="latest-news mt-150 mb-150">
    <div class="container">
        <div class="row">
            {% for product in filtered %}
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="{% url 'singleproduct' product.slug %}"><div class="latest-news-bg"><img src="{% if product.image %}{{ product.image.url }}{% endif %}" alt=""></div></a>
                    <div class="news-text-box">
                        <h3><a href="{% url 'singleproduct' product.slug %}">{{ product.description }}.</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i>{{ product.author|capfirst }}</span>
                            <span class="date"><i class="fas fa-calendar"></i>{{ product.date_posted }}</span>
                        </p>
                        <p class="excerpt">{{ product.sante }}.</p>
                        <a href="{% url 'singleproduct' product.slug %}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% include "fructs/section/pagination.html" with page=filtered %}
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="{% url 'news' %}" class="boxed-btn">More News</a>
            </div>
        </div>
    </div>
</div>