{% load static %}
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">	
                    <h3><span class="orange-text">Our</span> Products</h3>
                    <p>Whether organic or conventional, fruit should be rinsed under cool running water immediately before you enjoy it. If you wash produce in batches, be sure to dry each piece well with a paper towel; wetness encourages mold and bacteria growth. Berries should be refrigerated and rinsed in cold water just before eating.</p>
                </div>
            </div>
        </div>

        <div class="row">
            {% for product in demo %}
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="{% url 'singleproduct' product.slug %}"><img src="{% if product.image %}{{ product.image.url }}{% endif %}" alt=""></a>
                    </div>
                    <h3>{{ product.name|capfirst }}</h3>
                    <p class="product-price"><span>{{ product.unite }}</span>{{ product.price }} €</p>
                    <a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>            
            {% endfor %}
            </div>
    </div>
</div>