{%  extends  'incs/base.html' %}
{% load static %}

{% block context %}

	<!-- breadcrumb-section -->	
	{% include 'fructs/section/breadcumb.html' %}	
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="active" data-filter="*">Tous</li>
							{% for category in categories %}
								 <li data-filter=".{{ category.label|lower }}">{{ category.label|title }}</li>
							{% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

			<div class="row">
				{% for product in products %}
					<div class="col-lg-4 col-md-6 text-center {{ product.label|lower }}">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'singleproduct' product.slug %}"><img src="{% if product.image %}{{ product.image.url }}{% endif %}" alt=""></a>
						</div>
						<h3>{{ product.name|capfirst }}</h3>
						<p class="product-price"><span>{{ product.unite }} </span> {{ product.price }} €</p>
						<a href="{% url 'cart' %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				{% endfor %}				
			</div>

			{% include "fructs/section/pagination.html" with page=products %}
		</div>
	</div>
	<!-- end products -->

{% block carousel %}
        {% include 'incs/carousel.html' %}
    {% endblock %}

{% endblock %}
